/* thuộc tính border:
-boder-width
-boder-style
-boder-color 
border-radius: top-left/top-right/bottom-right/bottom-left
tim hieeur
width,height
max-width, max-height
overflow,
filter, opacity
inline: non-replace, replace?????

*/


p{
    border-width: 5px 5px 5px 5px;
    border-style: solid dashed dotted double;
    border-color: red blue green black;

}
.box2{
    width: 10px;;
    height:10px;
    border: 50px solid;
    border-color: transparent transparent red transparent;
    boder

    /* width: 100px;
    height: 100px;
    border-width: 10px;
    border-radius: 50%;
    border-style: solid red; */
}